<!DOCTYPE html>
<html>
  <head>
    <title>ZHAUL - Your moving and storage resource.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'bundle' %>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <p class="navbar-container">
      <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </p>
    <%= link_to "ZHAUL", reservations_path, :class => 'zhaul_left' %>
    <div class="component-container">
      <%= yield %>
    </div>
  </body>
</html>
